body {
  background-color: grey;
  text-align: center;
}

.grid-container {
  display: inline-grid;
  margin-top: 25px;
  min-block-size: 10px;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  width: 600px;
  height: 600px;
}

.wrapper {
 
}

.grid-item {
  display:flex;
  background-color: rgb(83, 148, 247);
  border: 1px solid white;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}